td{
  color: var(--darkGrey);
  font-weight: 400;
  padding: 10px;
  font-weight: 600;
}

.email-button-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-right: 10px;
}

.arrow{
  height: 25px;
  cursor: pointer;
}

.trash{
  height: 27px;
  cursor: pointer;
}