.admin-sidebar{
  width: 100%;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  color: var(--mainWhite);
  padding: 15px 5px 0 10px;
  background-color: #242424;
  text-align: left;
  gap: 20px;
  font-size: 16px; 
  letter-spacing: 3px; 
}

.dashboard:hover,
.users:hover,
.survey-responses:hover{
  cursor: pointer;
  color: #cccccc;
}