.survey-reponses-wrapper{
  height: 100%;
  width: 100;
  display: flex;
  flex-direction: row;
}

.survey-responses-cards{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}

.survey-responses-cards > p:first-of-type{
  color: var(--darkGrey);
  font-size: 25px;
  font-weight: 700;
}

.survey-questions{
  height: 100%;
  width: 100%;
  color: var(--darkGrey);
  font-weight: 600;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0px 2.5px;
}

.span-question{
  font-weight: 800;
  font-size: 17px;
  color: var(--red); 
}

.survey-questions > p:first-of-type{
  padding-bottom: 8px;
}

.span-option{
  font-weight: 700;
  font-size: 15px;
}

.option-number{
  padding-left: 10px;
}

.number-span{
  font-weight: 700;
}

@media (max-width: 1155px){
  .survey-reponses-wrapper{
    flex-direction: column;
  }
  .survey-responses-cards > p:first-of-type{
    display: none;
  }
}