.admin-wrapper{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
}

.admin-stats-col-container{
  height: 100%;
  width: 100%;
  padding: 10px;
}

.admin-stats-col-container > p:first-of-type{
  color: var(--darkGrey);
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 10px;
}

.admin-stat-cards{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
}

.number-of-users, 
.number-of-answered-surveys,
.number-of-connections{
  width: 100%;
  min-height: 210px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  font-weight: 700;
  font-size: 22px;
  text-align: center;
  color: var(--darkGrey);
  margin-bottom: 30px;
  box-shadow: 0 2px 5px;
}

.number-of-users > img{
  height: 55px;
  margin-bottom: 10px;
} 
.number-of-answered-surveys > img{
  height: 70px;
  margin-bottom: 10px;
}
.number-of-connections > img{
  height: 60px;
  margin-bottom: 10px;
}

.admin-graphs{
  width: 100%;
  display: flex;
}

.admin-bar-charts{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.admin-bar-chart{
  border-radius: 5px;
  box-shadow: 0 2px 5px;
}

@media (max-width: 1350px) {

  .admin-stats-col-container > p:first-of-type{
    display: none;
  }
  
  .admin-stats-col-container{
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
  .admin-bar-charts{
    flex-direction: column;
    justify-content: flex-start;
    gap: 40px;
  }
  .admin-stat-cards{
    flex-direction: column;
    width: 100%;
    gap: 0px;
    justify-content: flex-start;
  }

  .number-of-users, 
  .number-of-answered-surveys,
  .number-of-connections{
    width: 100%;
    height: 210px;
    font-size: 22px;
    margin-bottom: 5px;
    padding: 10px;
  }
}

@media (max-width: 1096px){

  .admin-wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }

  .admin-sidebar{
    width: 100%;
    max-width: 2000px !important;
    flex-direction: row !important;
    align-items: center !important;
    color: var(--mainWhite);
    padding: 10px !important;
    background-color: #242424;
    text-align: center !important;
  }

  .number-of-users > img{
    height: 45px;
    margin-bottom: 5px;
  } 
  .number-of-answered-surveys > img{
    height: 60px;
    margin-bottom: 5px;
  }
  .number-of-connections > img{
    height: 50px;
    margin-bottom: 5px;
  }

  .number-of-users, 
  .number-of-answered-surveys,
  .number-of-connections{
    font-weight: 600;
    font-size: 18px;
  }
}

@media (max-width: 850px){

  .admin-stats-col-container{
    flex-direction: column;
  }

  .number-of-users, 
  .number-of-answered-surveys,
  .number-of-connections{
    width: 100%;
    
    font-weight: 600;
    font-size: 18px;
  }

}